<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.mapper.PersonMapper">

    <select id="queryAll" resultType="Person">
        select id,name,mobile,telphone,email,city,birthday
        from t_person
    </select>
</mapper>
